<!--<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment::meta}"></div>
		
		<div th:replace="~{fragment::styles}"></div>
		
		<title>レビュー一覧ページ</title>
	</head>
	<body>
		<div class="samuraitravel-wrapper">
			ヘッダー
			<div th:replace="~{fragment::header}"></div>
			
			<main>
				<div class="container samuraitravel-container pb-5">
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11">
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
									<li class="breadcrumb-item"><a th:href="@{/houses/__${house.getId()}__}">民宿詳細</a></li>
									<li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
								</ol>
							</nav>
							
							<h2 class="mb-3 text-center" th:text="${house.getName() + 'のレビュー一覧'}"></h2>
							
							<div　class="col-md-8" th:each="review:${reviewPage}">
								<div　class="card-body">
									<h3 class="card-title mb-3" th:text="${user.getName()}"></h3>
									
									<p class="card-text mb-2">
										<span th:text="${review.reviewDate()}"></span>
									</p>
									
									<p class="card-text mb-2">
										<span th:text="${review.reviewComment()}"></span>
									</p>
								</div>
							</div>
							
							ページネーション
							
						</div>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>-->